<%= form_for @monster, url: monster_path(@monster), html: { method: :patch } do |f| %>
  <p>なまえをかえる</p>
  <p><%= f.text_field :name %></p>
  <p><%= f.text_field :tribe %></p>
  <input type="submit", value="かえる">
<% end %>
