<div class="container">
  <%= form_for @monster, url: monster_path(@monster), html: { method: :patch } do |f| %>
    <p>いろいろかえる</p>
    <p><%= f.text_field :name %></p>
    <p><%= f.text_field :tribe %></p>
    <input type="submit", value="かえる">
  <% end %>
</div>
